@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

/* base styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    background: linear-gradient(var(--bg-violet), var(--bg-blue));
    height: 140svh;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 4/6;
    font-size: 3.1em;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    margin: 20px auto;
    outline: none;
    border-radius: 20px;
    background: hsla(0, 0%, 100%, 1);
}

.bg-desktop, .bg-desktop-box {
    display: none;
}

.img {
    position: relative;
    height: 25%;
}

.img .woman {
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: -79%;
    left: 11%;
    min-width: 225px;
}

.img .base {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 2/6;
    grid-row: 2;
    position: absolute;
    left: 11%;
    width: 225px;
}

.accordion {
    width: 100%;
    padding: 14px 20px;
    max-height: 100%;
    grid-column: span 8;
    overflow: hidden;
}

.accordion-label, .accordion-content {
    padding: 10px 0;
}

.accordion-label {
    display: block;
    cursor: pointer;
    position: relative;
    transition: background 0.2s;
    font-size: 1.1em;
    border-bottom: 0.05em solid var(--fog);
    height: 45px;
}

.accordion-label:hover {
    background:hsl(240, 27%, 96%);
}

.accordion-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 12px;
    height: 10px;
    font-size: 1.5em;
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.4s;
}

.accordion-input {
    display: none;
}

.accordion-content {
    line-height: 1.6;
    display: none;
    transition: 0.5s ease;
}

.accordion-input:checked ~ .accordion-content {
    display: block;
}

/* variables */
:root {
    --blue-text: hsl(238, 29%, 16%);
    --red-text: hsl(14, 88%, 65%);
    --gray-blue-text: hsl(237, 12%, 33%);
    --fog: hsla(240, 52%, 89%, 0.8);
    --dividers: hsl(240, 5%, 91%);

    /* background gradient colors */
    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);
}

.attribution {
    margin: 35px auto;
}

/* media queries */
@media screen and (min-width: 620px) {
    .container {
        min-width: 500px;
    }

    .img .woman {
        grid-column: 3/7;
    }  
    
    .img .base {
        grid-column: 3/7;
    }

    .attribution {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 20px;
    }
    
    .container {
        position: absolute;
        top: 15%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        display: flex;
        width: 1000px;
        height: 500px;
        align-items: center;
        flex-direction: row;
    }

    .bg-desktop {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .bg-desktop-woman {
        position: absolute;
        top: 10%;
        left: -28%;
    }

    .bg-desktop-box {
        /* position: absolute; */
        top: 75%;
        left: 75%;
        z-index: 15;
    }

    .bg-desktop-pattern {
        position: absolute;
        top: 30%;
        left: -50%;
        width: 700px;
        height: 450px;
    }

    .img {
    
        display: none;
    }

    .accordion {
        width: 55%;
        height: 100%;
    }
}

