@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh+Sans', sans-serif;
}

/* base styles */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    background: linear-gradient(var(--bg-violet), var(--bg-blue));
    height: 140svh;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 4/6;
    font-size: 3.6em;
    font-family: 'Kumbh+Sans';
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.container {
    max-width: 400px;
    height: 500px;
    margin: 20px auto;
    border: 2px solid var(--blue-text);
    border-radius: 20px;
    background: hsla(0, 0%, 100%, 1);

}

.img {
    position: relative;
    height: 40%;
}

.img .woman {
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: -51.5%;
    min-width: 225px;
}

.img .base {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column: 2/6;
    grid-row: 2;
    position: absolute;
    /* top: -45%; */
    width: 225px;
}

.accordion {
    width: 100%;
    padding: 14px 20px;
    max-height: 100%;
    grid-column: span 8;
    overflow: hidden;
}

.accordion-label, .accordion-content {
    padding: 14px 20px;
}

.accordion-label {
    display: block;
    cursor: pointer;
    position: relative;
    transition: background 0.2s;
    font-size: 1.1em;
}

.accordion-label:hover {
    background:hsl(240, 27%, 96%);
}

.accordion-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 8px;
    height: 6px;
    font-size: 1.5em;
    background-image: url(./images/icon-arrow-down.svg);
    background-size: contain;
    transition: transform 0.4s;
}

.accordion-input {
    display: none;
}

.accordion-content {
    line-height: 1.6;
    display: none;
}

/* variables */
:root {
    --blue-text: hsl(238, 29%, 16%);
    --red-text: hsl(14, 88%, 65%);
    --gray-blue-text: hsl(237, 12%, 33%);
    --fog: hsl(240, 6%, 50%);
    --dividers: hsl(240, 5%, 91%);

    /* background gradient colors */
    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);
}

